* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::after {
    box-sizing: border-box;
}

/* My variables */

:root {
    --soft-red:hsl(7, 90%, 70%);
    --yellow:hsl(53, 100%, 49%);
    --dark-sat-cyan:hsl(167, 40%, 24%);
    --dark-blue-photo-text: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --dark-sat-blue: hsl(212, 27%, 19%);
    --very-drk-grayish-blue: hsl(213, 9%, 39%);
    --drk-grayish-blue: hsl(232, 9%, 55%;);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --upper-blue: rgba(61,190,255,255);
}

.container {
    width: 370px;
    position:relative;
    background-color: red;
    /* padding-top: 30px; */
}

/* Upper part styling */
.container > .upper-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    background-color:var(--upper-blue);
    color:var(--white);
    height:17rem;
    margin-top: 40px;
}
.upper-part > .toggler {
    position: absolute;
}
.upper-part > nav{
   display: none;
}
.upper-part > .sunny-burger {
    display: flex;
    justify-content: space-between;
}
.upper-part > .upper-text {
    display: inherit;
    justify-content: center;
}












/*
### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

*/






.attribution { 
    display: none;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
